h1{
color:pink;
font-family:"Bookman, URW Bookman L", serif;
font-size:108px;
left: 0;
    line-height: 200px;
    margin-top: -1px;
    position: absolute;
    text-align: center;
    top: 2%;
    width: 100%;
}

p{
color:lavender;
font-size:large;
}

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

.a2:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.a1:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

a:hover{
color:white;
background-color:transparent;
text-decoration: underline;
}


td{
text-align:center
}

h2
{
color:pink;
font-size:xx-large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}